.chat-app .chat-item {
  background-color: white;
}

.button.button-action {
  background: none;
  color: inherit;
  border: none;
}

.chat-messages-container {
  height: calc(100% - 170px);
  min-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-form-container {
  background-color: #eee;
}

.chat-item .row-picture i.icon,
.chat-item .row-action-primary i.icon {
  line-height: inherit;
  height: 32px;
  width: 32px;
}

.height-1 {
  height: 100%;
}

.height-1-2 {
  height: 50%;
}

.height-1-3 {
  height: 33.3%;
}


.channel-list,
.user-list {
  height: inherit,
  min-height: 150px;
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}


.channel-list-item .row-picture i.icon,
.channel-list-item .row-action-primary i.icon,
.user-list-item .row-picture i.icon,
.user-list-item .row-action-primary i.icon {
  line-height: inherit;
  height: 24px;
  width: 24px;
}

.channel-list-item .btn-block {
  text-align: left;
  padding: 5px;
  margin: 2px 0px;
}
